---
import Definitions from './Definitions.svelte'
import Links from './Links.svelte'
---

<section class='flex flex-col max-w-xl'>
  <h2 class='text-white font-semibold text-2xl mb-14 text-center'>
    What is <span class='text-indigo-600'> Web Scrapping</span> ?
  </h2>
  <!-- Definitions -->
  <Definitions cliente:visible />
  <!-- Interesting links -->
  <div class='flex flex-col gap-4 mb-5'>
    <h3 class='text-white text-xl'>Some links to dive deeper into</h3>
    <Links client:visible />
  </div>
</section>
