---
import '@fontsource/space-grotesk/400.css'
import '@fontsource/space-grotesk/600.css'
import '@fontsource/space-grotesk/700.css'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>Whatis.dev - Look up terms that every developer should know</title>
    <meta
      name='description'
      content='Look up essential programming terms and master your vocabulary of programming'
    />
    <meta name='theme-color' content='#13111c' />
    <meta property='og:url' content='https://whatis.pages.dev/' />
    <meta property='og:type' content='website' />
    <meta
      property='og:title'
      content='Whatis.dev - Look up terms that every developer should know'
    />
    <meta
      property='og:description'
      content='Look up essential programming terms and master your vocabulary of programming'
    />

    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:site' content='@xavimonp' />
    <meta name='twitter:creator' content='@xavimonp' />
    <meta
      name='twitter:title'
      content='Whatis.dev - Look up terms that every developer should know'
    />
    <meta
      name='twitter:description'
      content='Look up essential programming terms and master your vocabulary of programming'
    />
    <style>
      body {
        font-family: 'Space Grotesk', sans-serif;
        font-weight: normal;
        font-style: normal;
        font-display: optional;
        background-color: hsl(250, 24%, 9%);
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
